{% extends "base.html" %}

{% block title %}
{{ title }}	
{% endblock title %}

{% block content %}
<h1>Upload your file</h1>
<form action="" method="POST" enctype=multipart/form-data accept-charset="utf-8">

	{% for entry in form %}
	<p>
	{{ entry.label }}	
	{{ entry }}	
	</p>
	{% endfor %}
</form>

<div>
	{% for entry in links %}
	<a href="{{ entry.link }}">{{ entry.name }}</a>	
	<p>created: {{ entry.created }}</p>
	<p>life_to: {{ entry.life_time }}</p>
	{% endfor %}
</div>
<div>
	{% for file in files %}
	<p><a href="{{ url_for('get_file', filename=file) }}">{{file}}</a></p>

	{% endfor %}
</div>
	
{% endblock content %}
